<div class="flex flex-col gap-3 bg-white p-5 rounded-lg shadow-xs shadow-black">
  <h2 class="text-4xl">Search by name</h2>
  <div class="flex gap-2">
    @for (lang of availableLangs; track $index) {
      <button
        (click)="this.changeLang($index)"
        [class]="`cursor-pointer uppercase px-2 h-fit rounded-md border-1 ${$index === selectedLang() ? 'border-transparent bg-black text-white hover:bg-slate-800' : 'border-gray-600 hover:bg-gray-300'}`"
      >
        {{ lang }}
      </button>
    }
  </div>
  <app-input
    css="border-3! border-black!"
    placeholder="Infernape"
    [(ngModel)]="this.inputModel"
    (keydown.enter)="this.onPressEnter()"
  />
  <div class="w-full">
    @let langKey = availableLangs[selectedLang()];
    <ul class="flex flex-col w-full">
      @for (result of results(); track $index) {
        <app-search-pkm-result
          [data]="result"
          [selectedLang]="langKey"
          (clicked)="clearInput()"
        />
      }
    </ul>
  </div>
</div>
