@let pokemon = this.pokemon();
@let species = this.species();

<div class="center w-full bg-black p-5 flex flex-col gap-5">
  <div
    class="w-full h-[100px] flex items-center justify-between px-10 border-b-1 border-gray-500"
  >
    @if (pokemon.id > 1) {
      <a
        [routerLink]="['/pokedex', pokemon.id - 1]"
        class="flex flex-row w-fit items-center cursor-pointer gap-5 hover:opacity-70 duration-100"
      >
        <p class="text-white select-none drag-none text-3xl">{{ "<" }}</p>
        <app-pokemon-body-selector [pokemonId]="pokemon.id - 1" />
      </a>
    } @else {
      <div></div>
    }
    <a
      [routerLink]="['/pokedex', pokemon.id + 1]"
      class="flex flex-row w-fit items-center cursor-pointer gap-5 hover:opacity-70 duration-100"
    >
      <app-pokemon-body-selector [pokemonId]="pokemon.id + 1" />
      <p class="text-white select-none drag-none text-3xl">{{ ">" }}</p>
    </a>
  </div>
  <section class="dimensions h-24 flex overflow-hidden select-none">
    <article
      class="w-full flex flex-col items-center justify-center border-r-gray-500 border-r-2 text-white"
    >
      <h2 class="text-3xl">{{ pokemon!.dimensions.weight / 10 }} kg</h2>
      <span class="text-1xl text-gray-500">Weight</span>
    </article>
    <article
      class="w-full flex flex-col items-center justify-center text-white"
    >
      <h2 class="text-3xl">{{ pokemon!.dimensions.height * 10 }} cm</h2>
      <span class="text-1xl text-gray-500">Height</span>
    </article>
  </section>
  @if (species.flavor_text) {
    <div class="bg-emerald-500 p-5 rounded-xl shadow-2xl">
      <p class="text-white font-light text-xl">{{ species.flavor_text }}</p>
    </div>
  }
  <app-weaknesses-part [types]="pokemon.types" />
  <app-abilities-part [abilities]="abilities()" />
</div>
