<div
  class="container mx-auto px-5 h-fit md:px-0 flex flex-col md:flex-row w-full"
>
  @let pokemon = this.pokemon();
  @let species = this.species();

  <div class="h-full flex justify-center items-center">
    @if (!pokemon || !species) {
      <app-pokemon-card-skeleton />
    } @else {
      <app-pokemon-card [pokemon]="pokemon" [species]="species" />
    }
  </div>
  <div class="w-full bg-black">
    @if (!pokemon || !species) {
    } @else {
      <app-pokemon-body [pokemon]="pokemon" [species]="species" />
    }
  </div>
</div>
